## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/clean_hotel_df.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Vaini,TO,68.00,few clouds,-21.20,-175.20,Keleti Beach Resort
1,5,Kelcyre,AL,68.09,broken clouds,40.31,20.19,The River Hotel
2,9,Cape Town,ZA,60.01,overcast clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
3,10,Oktyabrskoye,RU,69.01,clear sky,43.06,44.74,Prolesok Mini-hotel
4,19,Karratha,AU,70.21,clear sky,-20.74,116.85,ibis Styles Karratha

In [4]:
clean_hotel_df = vacation_df

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissapating = False, max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
#CITIES

# Winchester, GB
# Atherton, GB
# Worthing, GB
# Margate, GB

In [21]:
vacation_df.loc[vacation_df["City"] == "Vaini"]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Vaini,TO,68.0,few clouds,-21.2,-175.2,Keleti Beach Resort

In [15]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Winchester"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Winchester"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Atherton"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Worthing"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Margate"]

In [16]:
vacation_start # vacation_end as well

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
90,347,Winchester,GB,64.4,broken clouds,51.07,-1.32,Lainston House

In [17]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
112,416,Atherton,GB,61.0,broken clouds,53.52,-2.49,The Mercury Motel

In [18]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
118,435,Worthing,GB,64.4,light intensity drizzle,50.81,-0.37,The Chatsworth Hotel

In [19]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
79,295,Margate,GB,66.99,overcast clouds,51.38,1.39,Premier Inn Margate hotel

In [46]:
vacation_start.to_numpy(dtype= list)

array([[347, 'Winchester', 'GB', 64.4, 'broken clouds', 51.07, -1.32,
        'Lainston House']], dtype=object)

In [45]:
import numpy as np

In [47]:
vacation_start.to_numpy()

array([[347, 'Winchester', 'GB', 64.4, 'broken clouds', 51.07, -1.32,
        'Lainston House']], dtype=object)

In [64]:
start = vacation_start[["Lat", "Lng"]].values.tolist()
start

[[51.07, -1.32]]

In [69]:
type(start)

list

In [ ]:
vacation_start = vacation_df.loc[vacation_df["City"] == "Winchester"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Winchester"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Atherton"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Worthing"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Margate"]

In [65]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].values.tolist()
end = vacation_end[["Lat", "Lng"]].values.tolist()
stop1 = vacation_stop1[["Lat", "Lng"]].values.tolist()
stop2 = vacation_stop2[["Lat", "Lng"]].values.tolist()
stop3 = vacation_stop3[["Lat", "Lng"]].values.tolist()

In [66]:
# import gmaps datasets
import gmaps.datasets

In [72]:
start_winchester = (51.07, -1.32)
end_winchester = (51.07, -1.32)
stop_antherton = (53.32, -2.49)
stop_worthing = (50.81, -0.37)
stop_margate = (51.38, 1.39)

In [77]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_route = gmaps.directions_layer(start_winchester, end_winchester, waypoints = [stop_worthing, stop_margate, stop_antherton], travel_mode = "DRIVING")
fig.add_layer(vacation_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,347,Winchester,GB,64.40,broken clouds,51.07,-1.32,Lainston House
1,416,Atherton,GB,61.00,broken clouds,53.52,-2.49,The Mercury Motel
2,435,Worthing,GB,64.40,light intensity drizzle,50.81,-0.37,The Chatsworth Hotel
3,295,Margate,GB,66.99,overcast clouds,51.38,1.39,Premier Inn Margate hotel

In [84]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [86]:
hotel_info

['\n<dl>\n<dt>Hotel Name</dt><dd>Lainston House</dd>\n<dt>City</dt><dd>Winchester</dd>\n<dt>Country</dt><dd>GB</dd>\n<dt>Current Description</dt><dd>broken clouds</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Mercury Motel</dd>\n<dt>City</dt><dd>Atherton</dd>\n<dt>Country</dt><dd>GB</dd>\n<dt>Current Description</dt><dd>broken clouds</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Chatsworth Hotel</dd>\n<dt>City</dt><dd>Worthing</dd>\n<dt>Country</dt><dd>GB</dd>\n<dt>Current Description</dt><dd>light intensity drizzle</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Premier Inn Margate hotel</dd>\n<dt>City</dt><dd>Margate</dd>\n<dt>Country</dt><dd>GB</dd>\n<dt>Current Description</dt><dd>overcast clouds</dd>\n</dl>\n']

In [87]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
# vacation_route = gmaps.directions_layer(start_winchester, end_winchester, waypoints = [stop_worthing, stop_margate, stop_antherton], travel_mode = "DRIVING")
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
# fig.add_layer(vacation_route)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))